<div class='box'>

  <h1><%= @division.name() %>
  <form action='/division/<%= @division.id() %>/delete' method='post'>
  <div class='form-group'>
    <input name="_method" type="hidden" value="delete">
    <button class='btn btn-danger'>Delete <%= @division.name()%></button>
  </div>
</form></h1>

<% if @division.employees().any? %>
<h3>Here are all the employees in this department:</h3>


<ul>
  <% @division.employees().each() do |employee| %>
  <li><a href='/employee/<%= employee.id() %>'><%= employee.name() %></a></li>
  <% end %>
</ul>

<% else %>
<p>There are no employees in this department</p>

<% end %>

</br></br></br>

<form action='/division/<%= @division.id() %>/update' method='post'>

  <input name="_method" type="hidden" value="patch">
  <div class='form-group'>
    <label for='update_division'>Update division name</label>
    <input id='update_division' name='update_division' class='form-control' type='text'>
  </div>
  <button type="submit" class="btn btn-warning">Update</button>
</form>

</br>






<form action='/employees' method ='post'>

  <input id="division_id" name="division_id" type="hidden" value="<%= @division.id() %>">

  <div class='form-group'>
    <label for='name'>Add a new employee</label>
    <input id='name' name='name' type='text' class='form-control'>
  </br>

    <button type="submit" class="btn btn-warning">Add Employee</button>
  </div>
</form>

</div>
